@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  transition: all 0.5s ease;
  font-family: "Open Sans", sans-serif;
}

::-moz-selection {
  background-color: #5766db;
  color: #d7dbff;
}

::selection {
  background-color: #5766db;
  color: #d7dbff;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb:hover {
  background: #717171;
}

.card {
  width: 100%;
  height: 100%;
}

body.light {
  background-color: #ffffff;
}
body.light .menu i {
  color: #0f0f0f;
}
body.light .search_btn {
  background-color: #ffffff;
  color: #0f0f0f;
  border-color: #0f0f0f;
}
body.light .search_bar input {
  background-color: #ffffff;
  color: #0f0f0f;
}
body.light .search_bar span {
  background-color: #e3e3e3;
  color: #0f0f0f;
}
body.dark {
  background-color: #0f0f0f;
}
body.dark .menu i {
  color: #ffffff;
}
body.dark .search_btn {
  color: #cbcbcb;
}
body.dark .search_btn.active_btn {
  background-color: #222222;
}

.icon {
  font-size: 26px;
  font-weight: 500;
}

.menu {
  align-items: center;
  display: flex;
  padding: 10px;
}
.menu img {
  width: 120px;
  margin-left: 12px;
}
.menu i::before {
  font-size: 26px;
}

header {
  display: flex;
  width: 100%;
  position: relative;
}

.search_bar {
  width: 50%;
  margin-left: auto;
}
.search_bar input {
  background-color: #121212;
  border-radius: 25px;
  border: 1px solid #464646;
  height: 38px;
  width: 40%;
  margin: 10px 0 10px 10px;
  padding: 0 20px;
}
.search_bar span {
  background-color: #222222;
  border-radius: 25px;
  color: #cbcbcb;
  border: 1px solid #464646;
  height: 38px;
  margin: 10px;
  padding: 0 20px;
}

.profile_options {
  position: absolute;
  right: 60px;
  top: 10px;
  width: 250px;
  background-color: #282828;
  color: white;
  border-radius: 8px;
}
.profile_options.active_profile {
  display: block !important;
}
.profile_options ul {
  list-style: none;
  padding: 0.4rem 1rem;
}
.profile_options ul button {
  color: #fff;
}

.search_btn {
  border-color: #0f0f0f;
  padding: 7px 10px;
  border-radius: 50%;
  margin: 8px 4px;
  height: 38px;
  width: 38px;
}
.search_btn .profile-image {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.menu_items {
  border-bottom: 1px solid rgba(165, 165, 165, 0.2117647059);
  margin-bottom: 0.6rem;
}
.menu_items ul {
  list-style: none;
  padding-left: 0;
}
.menu_items ul li {
  font-size: 0.9rem;
  color: white;
  margin: 0 0.4rem 0.2rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
}
.menu_items ul li.active_item {
  background-color: rgba(255, 255, 255, 0.1215686275) !important;
}
.menu_items ul li:hover {
  background-color: rgba(255, 255, 255, 0.053);
}
.menu_items ul li i {
  margin-right: 1rem;
}

.scrollable_menu_area {
  overflow-y: auto;
  height: calc(100vh - 100px);
}

.menu_items_subs {
  border-bottom: 1px solid rgba(165, 165, 165, 0.2117647059);
  margin-bottom: 0.6rem;
}
.menu_items_subs h6 {
  font-size: 0.9rem;
  color: white;
  padding: 0.2rem 0.4rem;
}
.menu_items_subs ul {
  list-style: none;
  padding-left: 0;
}
.menu_items_subs ul li {
  font-size: 0.9rem;
  color: white;
  margin: 0 0.4rem 0.2rem;
  padding: 0.5rem 0.6rem;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.menu_items_subs ul li.active_item {
  background-color: rgba(255, 255, 255, 0.1215686275) !important;
}
.menu_items_subs ul li:hover {
  background-color: rgba(255, 255, 255, 0.053);
}
.menu_items_subs ul li i {
  margin-right: 1rem;
}
.menu_items_subs ul li img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 0.6rem;
}

.scrolling_item_tabs {
  display: flex;
  overflow-x: scroll;
}
.scrolling_item_tabs::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.scrolling_item_tabs .btn_tabs {
  color: #fff;
  background-color: rgba(44, 44, 44, 0.6196078431);
  padding: 0.3rem 0.8rem;
  white-space: nowrap;
  margin-right: 0.6rem;
}
.scrolling_item_tabs .btn_tabs.active {
  color: #0f0f0f;
  background: rgba(255, 255, 255, 0.7019607843);
}

.main_content {
  height: 83vh;
  margin-top: 0.6rem;
  overflow-x: hidden;
  overflow-y: scroll;
}

.video_view_area .thumbnail {
  margin: 1rem 0;
}
.video_view_area .thumbnail img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  cursor: pointer;
}
.video_view_area .caption {
  display: flex;
}
.video_view_area .caption img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.video_view_area .caption i {
  color: #fff;
  font-size: 1.8rem;
  cursor: pointer;
}
.video_view_area .caption .title {
  color: #fff;
  margin-left: 1rem;
  width: 85%;
  cursor: default;
}
.video_view_area .caption .title h5 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0.4rem;
}
.video_view_area .caption .title h6 {
  font-size: 14px;
  margin-bottom: 0.3rem;
  color: #8d8d8d;
}
.video_view_area .caption .title p {
  font-size: 0.9rem;
  color: #8d8d8d;
}
.video_view_area .caption .title i {
  font-size: 0.3rem;
  margin: 0 0.6rem;
  color: #8d8d8d;
  padding-bottom: 0.8rem;
}/*# sourceMappingURL=style.css.map */